// от 320px мобильная версия
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: $basic-font;
  font-size: 14px;
  color: #000000;
  line-height: 24px;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}
// от 660px планшетная версия
//@media (min-width: 660px) {}
// от 1200 десктопная версия
//@media (min-width: 1200px) {}
