.instrumental-desk {
  background-color: #f2f2f2;
}

.instrumental-desk__list {
  display: none;
}

.instrumental-desk__form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 40px;
  margin: 0 auto;
}

.instrumental-desk__original-photo {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 30px;
}

.instrumental-desk__original-photo img {
  display: block;
  margin: 0;
  padding: 0;
}

.instrumental-desk__instruments-buttons {
  display: flex;
  min-width: 220px;
  align-self: center;
  margin: 0 auto;
}

.crop-icon-mobile,
.fill-icon-mobile,
.contrast-icon-mobile {
  fill: #b5b9be;
}

.crop-icon-mobile {
  width: 55px;
  height: 55px;
  padding-right: 30px;
}

.crop-icon-mobile--active {
  fill: #d22856;
}

.fill-icon-mobile {
  width: 55px;
  height: 55px;
  padding-right: 30px;
}

.contrast-icon-mobile {
  width: 35px;
  height: 45px;
}

.crop-icon-mobile:hover,
.fill-icon-mobile:hover,
.contrast-icon-mobile:hover {
  fill: #8d949b;
}

.crop-icon-mobile:active,
.fill-icon-mobile:active,
.contrast-icon-mobile:active {
  fill: #d22856;
}

.instrumental-desk__instruments-slider--mobile {
  position: relative;
  margin-bottom: 45px;
  margin-top: 30px;
  width: 200px;
  align-self: center;
}

.slider-scale-mobile {
  margin: 0 auto;
  width: 260px;
  height: 2px;
  background-color: #000000;
}

.slider-button-mobile {
  position: absolute;
  top: -5px;
  left: 210px;
  width: 10px;
  height: 10px;
  background: #f2f2f2;
  border: 2px solid #d22856;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.slider-button-mobile:hover,
.slider-button-mobile:focus {
  background: #cd0c54;
}

.instrumental-desk__instruments {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.instrumental-desk__button-wrapper {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.publish-button {
  background-color: #f2f2f2;
  text-decoration: none;
  color: #d22856;
  line-height: 18px;
  font-size: 18px;
  font-weight: 700;
  border: 3px solid #d22856;
  border-radius: 30px 30px;
  height: 55px;
  width: 281px;
  padding: 18px 34px;
  margin-bottom: 12px;
  margin-top: 29px;
}

.publish-button:hover {
  color: #ffffff;
  background-color: #d22856;
}

.publish-button:active {
  color: #d94b71;
  background-color: #d22856;
}

.cancel-button {
  text-decoration: none;
  background-color: #f2f2f2;
  color: #dddee0;
  border-color: #dddee0;
  line-height: 18px;
  font-size: 18px;
  font-weight: 700;
  border: 3px solid #dddee0;
  border-radius: 30px 30px;
  height: 55px;
  width: 281px;
  padding: 18px 34px;
  margin-bottom: 1px;
}

.cancel-button:hover {
  color: #b5b9be;
  border-color: #b5b9be;
}

.cancel-button:active {
  color: #f2f2f2;
  background-color: #b5b9be;
}
// для планшета для планшета для планшета для планшета для планшета
@media (min-width: $tablet-width) {
  .instrumental-desk__instruments-buttons {
    display: none;
  }

  .instrumental-desk__instruments-slider--mobile {
    display: none;
  }

  .instrumental-desk__form {
    flex-wrap: nowrap;
    flex-direction: row;
    padding-bottom: 25px;
  }

  .instrumental-desk__original-photo {
    min-width: 300px;
    height: auto;
    margin: 0 20px;
    padding-top: 57px;
    padding-bottom: 30px;
  }

  .instrumental-desk__list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 70px 0 30px;
    min-width: 250px;
  }

  .instrumental-desk__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }

  .instrumental-desk__instruments-slider {
    position: relative;
    width: 140px;
    height: 100px;
    align-self: center;
  }

  .slider-scale {
    width: 200px;
    height: 2px;
    background-color: #000000;
  }

  .slider-button {
    position: relative;
    background: #f2f2f2;
    border: 2px solid #cd0c54;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    width: 10px;
    height: 10px;
  }

  .instrumental-desk__slider--crop .slider-button {
    top: -10px;
    left: 140px;
  }

  .instrumental-desk__slider--fill .slider-button {
    top: -10px;
    left: 18px;
  }

  .instrumental-desk__slider--contrast .slider-button {
    top: -10px;
    left: 90px;
  }

  .slider-button:hover,
  .slider-button:focus {
    background: #cd0c54;
  }

  .crop-icon {
    width: 25px;
    height: 25px;
    fill: #cd0c54;
    padding-right: 25px;
  }

  .fill-icon {
    width: 25px;
    height: 25px;
    fill: #cd0c54;
    padding-right: 25px;
  }

  .contrast-icon {
    width: 20px;
    height: 20px;
    fill: #d22856;
    padding-right: 25px;
  }

  .crop-icon:hover,
  .fill-icon:hover,
  .contrast-icon:hover {
    fill: #8d949b;
  }

  .crop-icon:active,
  .fill-icon:active,
  .contrast-icon:active {
    fill: #d22856;
  }

  .publish-button {
    width: 260px;
    margin-bottom: 25px;
    margin-top: 0;
  }

  .cancel-button {
    height: 55px;
    width: 260px;
  }
}
// для десктопа для десктопа для десктопа для десктопа для десктопа для десктопа
@media (min-width: $desktop-width) {
  .instrumental-desk__original-photo {
    min-width: 300px;
    height: auto;
    margin: 0 90px;
    padding-top: 56px;
    padding-bottom: 30px;
  }

  .instrumental-desk__list {
    padding: 60px 120px 30px 0;
    margin-bottom: 100px;
  }

  .instrumental-desk__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 29px;
  }

  .crop-icon {
    width: 45px;
    height: 45px;
  }

  .fill-icon {
    width: 45px;
    height: 45px;
  }

  .contrast-icon {
    width: 35px;
    height: 35px;
  }

  .slider-scale {
    width: 280px;
    height: 2px;
    background-color: #000000;
  }

  .slider-button {
    position: relative;
    background: #f2f2f2;
    border: 2px solid #cd0c54;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    width: 10px;
    height: 10px;
  }

  .instrumental-desk__slider--crop .slider-button {
    top: -8px;
    left: 90px;
  }

  .instrumental-desk__slider--fill .slider-button {
    top: -10px;
    left: 265px;
  }

  .instrumental-desk__slider--contrast .slider-button {
    top: -10px;
    left: 180px;
  }

  .instrumental-desk__button-wrapper {
    flex-direction: row;
    margin: 0 70px 0 0;
  }

  .publish-button {
    width: 184px;
    margin-bottom: 10px;
    margin-right: 0;
  }

  .cancel-button {
    width: 184px;
    margin-bottom: 10px;
  }
}
