.introduction__header {
  display: block;
  min-width: 175px;
  margin: 35px 10px 52px;
  padding: 0;
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  line-height: 28px;
  text-align: center;
}

.motive-text {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height: 30px;
  text-align: center;
  margin: 45px 30px 25px;
}

.motive-text--photo {
  margin-bottom: 50px;
}

.motive-text-hidden {
  display: none;
}
// для планшета для планшет для планшета для планшета для планшета для планшета
@media (min-width: $tablet-width) {
  .introduction__header {
    margin: 90px 20px 52px;
    padding: 0;
    font-size: 50px;
    line-height: 60px;
  }

  .motive-text {
    display: block;
    font-size: 20px;
    line-height: 30px;
    margin: 90px 40px 74px;
  }

  .motive-text--photo {
    margin-bottom: 78px;
  }

  .motive-text-hidden {
    display: block;
    font-size: 20px;
    line-height: 30px;
  }
}
// для десктопа для десктопа для десктопа для десктопа для десктопа
@media (min-width: $desktop-width) {
  .introduction__header {
    display: block;
    min-width: 300px;
    min-height: 200px;
    margin: 0 auto;
    padding: 80px 300px 0;
    font-size: 50px;
    line-height: 60px;
  }

  .motive-text {
    margin: 90px 100px;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    line-height: 30px;
    text-align: center;
  }

  .motive-text-hidden {
    display: inline;
  }
}
