.introduction__header {
  height: 250px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 100px;
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  line-height: 30px;
  text-align: center;
}

.motive-text {
  margin: 50px auto;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  line-height: 30px;
  text-align: center;
}

.form__blocks {
  background-color: #ffffff;
  padding-bottom: 27px;
  padding-top: 50px;
}
