.main-nav {
  position: relative;
  box-sizing: border-box;
  min-width: 320px;
  min-height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 20px;
  background-color: rgba(21, 32, 45, 0.7);
}

.main-nav--transparent {
  padding-bottom: 20px;
  background-color: rgba(21, 32, 45, 0.7);
}

.main-nav--filled {
  background-color: #283645;
  padding-bottom: 0;
}

.main-nav__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.main-nav__logo--mobile {
  margin-right: 207px;
  text-decoration: none;
  cursor: pointer;
  width: 70px;
  height: 22px;
  fill: #ffffff;

  &:hover {
    fill: #d22856;
  }

  &:active {
    fill: rgba(210, 40, 86, 0.3);
  }
}

.main-nav__logo--tablet {
  display: none;
}

.main-nav__logo--desktop {
  display: none;
}

.main-nav__button--burger {
  position: absolute;
  top: 0;
  right: 19px;
  cursor: pointer;
  border: none;
  width: 50px;
  height: 4px;
  background-color: #ffffff;
  outline: none;
}

.main-nav__button--burger::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  cursor: pointer;
  border: none;
  width: 50px;
  height: 4px;
  background-color: #ffffff;
  outline: none;
  box-shadow: 0 10px 0 0 #ffffff;
}

.main-nav__button--burger:hover,
.main-nav__button--burger:hover::before {
  background-color: #d22856;
  box-shadow: 0 10px 0 0 #d22856;
}

.main-nav__button--burger:active,
.main-nav__button--burger:active::before {
  background-color: rgba(210, 40, 86, 0.3);
  box-shadow: 0 10px 0 0 rgba(210, 40, 86, 0.3);
}

.main-nav__button--cross {
  position: absolute;
  top: 10px;
  right: 38px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 29px;
    height: 4px;
    outline: 0;
    background-color: #ffffff;
    transform: rotate(135deg);
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 29px;
    height: 4px;
    outline: 0;
    background-color: #ffffff;
    transform: rotate(45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: #d22856;
  }

  &:active::before,
  &:active::after {
    background-color: rgba(210, 40, 86, 0.3);
  }
}
// версия для планшета версия для планшета версия для планшета версия для планшета
@media (min-width: $tablet-width) {
  .main-nav {
    min-height: 110px;
    padding: 10px 20px 0;
  }

  .main-nav--filled {
    background-color: #283645;
    padding-bottom: 0;
    padding-top: 30px;
  }

  .main-nav__wrapper {
    justify-content: space-between;
    align-items: center;
  }

  .main-nav__logo--tablet {
    display: block;
    width: 146px;
    height: 40px;
    margin-right: 475px;
    fill: #ffffff;

    &:hover {
      fill: #d22856;
    }

    &:active {
      fill: rgba(210, 40, 86, 0.3);
    }
  }

  .main-nav__logo--mobile {
    display: none;
  }

  .main-nav__button--burger {
    top: 10px;
    right: 0;
  }

  .main-nav__button--cross {
    top: 24px;
    right: 18px;
  }

  .page-header__wrapper {
    min-width: 660px;
  }
}
// для десктопа для десктопа для десктопа для десктопа для десктопа
@media (min-width: $desktop-width) {
  .main-nav {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 30px;
    padding-right: 80px;
  }

  .main-nav__wrapper {
    min-width: 960px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .main-nav__logo--desktop {
    width: 146px;
    height: 40px;
    display: block;
    margin-right: 170px;
    margin-left: 35px;
    margin-top: -10px;
    margin-bottom: 0;
    fill: #ffffff;

    &:hover {
      fill: #d22856;
    }

    &:active {
      fill: rgba(210, 40, 86, 0.3);
    }
  }

  .main-nav__logo--tablet {
    display: none;
  }

  .main-nav__button {
    display: none;
  }
}
