.main-nav {
  position: relative;
  min-width: 320px;
  min-height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav--transparent {
  background-color: rgba(21, 32, 45, 0.7);
}

.main-nav--filled {
  background-color: #283645;
}

.main-nav__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 320px;
}

.main-nav__logo {
  text-decoration: none;
  cursor: pointer;
  width: 70px;
  height: 22px;
  fill: #ffffff;
  margin: 20px;
}

.main-nav__logo:hover {
  fill: #d22856;
}

.main-nav__logo:active {
  fill: rgba(210, 40, 86, 0.3);
}

.main-nav__logo--tablet-desktop {
  display: none;
}

.main-nav__button--burger {
  position: absolute;
  top: 20px;
  right: 0;
  cursor: pointer;
  border: none;
  width: 50px;
  height: 4px;
  background-color: #ffffff;
  outline: none;
}

.main-nav__button--burger::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  cursor: pointer;
  border: none;
  width: 50px;
  height: 4px;
  background-color: #ffffff;
  outline: none;
  box-shadow: 0 10px 0 0 #ffffff;
}

.main-nav__button--burger:hover,
.main-nav__button--burger:hover::before {
  background-color: #d22856;
  box-shadow: 0 10px 0 0 #d22856;
}

.main-nav__button--burger:active,
.main-nav__button--burger:active::before {
  background-color: rgba(210, 40, 86, 0.3);
  box-shadow: 0 10px 0 0 rgba(210, 40, 86, 0.3);
}

.main-nav__button--cross {
  position: absolute;
  top: 30px;
  right: 20px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 25px;
    height: 3px;
    outline: 0;
    background-color: #ffffff;
    transform: rotate(135deg);
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 25px;
    height: 3px;
    outline: 0;
    background-color: #ffffff;
    transform: rotate(45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: #d22856;
  }

  &:active::before,
  &:active::after {
    background-color: rgba(210, 40, 86, 0.3);
  }
}

.site-list--opened {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  top: 68px;
  left: 0;
  width: 100%;
}

.site-list--closed {
  display: none;
}

.site-list a {
  display: block;
  text-align: center;
  padding: 20px 100px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #283645;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
}

.site-list a[href] {
  &:hover {
    color: #d22856;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
    border-top: 1px solid #000000;
    border-bottom: 1px solid #485461;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    min-height: 110px;
  }

  .main-nav__logo {
    width: 145px;
    height: 40px;
    margin-right: 375px;
    margin-top: -16px;
  }

  .main-nav__logo--tablet-desktop {
    display: block;
  }

  .main-nav__logo--tablet-desktop:hover {
    fill: #d22856;
  }

  .main-nav__logo--tablet-desktop:active {
    fill: rgba(255, 255, 255, 0.3);
  }

  .main-nav__logo--mobile {
    display: none;
  }

  .page-header__wrapper {
    min-width: 660px;
  }

  .main-nav__initial-navigation {
    padding: 20px;
  }

  .site-list {
    position: absolute;
    top: 110px;
    left: 0;
    width: 100%;
  }

  .site-list a {
    padding: 19px;
  }
}
// для десктопа
@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    min-width: 940px;
  }

  .main-nav__logo {
    margin-right: 155px;
    margin-top: -16px;
    margin-left: 0;
    margin-bottom: 0;
  }

  .main-nav__button {
    display: none;
  }

  .site-list {
    position: static;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  .site-list a {
    display: inline;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    text-transform: none;
    text-decoration: none;
    color: #ffffff;
    background-color: transparent;
    border-top: none;
    border-bottom: none;
  }

  .site-list a[href] {
    &:hover {
      color: #d22856;
    }

    &:active {
      color: rgba(210, 40, 86, 0.3);
      border-bottom: none;
      border-top: none;
    }

    .site-list__item--active { // почему не работает?
      border-bottom: 2px solid #ffffff;
    }
  }
}
