.map {
  position: relative;
  min-height: 200px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .map {
    background-image: url("../img/bg-map-mobile@2x.jpg");
  }
}

.map-triangle {
  position: absolute;
  width: 1000px;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
}

.map-marker {
  position: relative;
  width: 35px;
  height: 35px;
  top: 115px;
  left: 144px;
}

@media (min-width: $tablet-width) {
  .map {
    position: relative;
    min-height: 380px;
    background-color: #ffffff;
    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .map {
      background-image: url("../img/bg-map-tablet@2x.jpg");
    }
  }

  .map-triangle {
    position: absolute;
    width: 1000px;
    height: auto;
    top: -1px;
    left: 0;
    right: 0;
  }

  .map-marker {
    position: relative;
    width: 35px;
    height: 35px;
    top: 203px;
    left: 310px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    min-height: 508px;
    background-image: url("../img/bg-map-desktop@1x.jpg");
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .map {
      background-image: url("../img/bg-map-desktop@2x.jpg");
    }
  }

  .map-triangle {
    position: absolute;
    width: 1200px;
    height: auto;
    left: 80px;
    right: 0;
  }

  .map-marker {
    position: relative;
    width: 35px;
    height: 35px;
    top: 268px;
    left: 583px;
  }
}
