.page-form {
  background-color: $white;
}

.form__blocks--achievements {
  background-color: $light-gray;
}

.form__blocks--applications {
  background-color: $light-gray;
}

.form__submit-button {
  background-color: $green;
}
