.page-form {
  background-color: #ffffff;
}

.form__blocks--achievements {
  background-color: #f2f2f2;
}

.form__blocks--applications {
  background-color: #f2f2f2;
}

.form__submit-button {
  background-color: #26ac6d;
}
