.price {
  text-transform: uppercase;
  background-color: #f2f2f2;
  z-index: 1;
}

.price-table-wrapper {
  overflow: hidden;
}

.price__table {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 64px 0 0;
  background-color: #f2f2f2;
}

.price__table-col {
  min-width: 280px;
  display: flex;
  align-self: center;
  flex-direction: column;
  flex-shrink: 0;
  background-color: #ffffff;
  border-right: 3px solid #e5e5e5;
}

.price__table-col--empty {
  display: none;
}

.price__table-head {
  min-height: 100px;
  background-color: #17212b;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  line-height: 30px;
  text-align: center;
  padding: 0;
}

.price__table-head--head-hit {
  position: relative;
}

.price__table-head--head-hit::before {
  position: absolute;
  content: "";
  top: -56px;
  left: -56px;
  width: 46px;
  height: 46px;
  border-style: solid;
  border-width: 31px;
  border-color: transparent #cd0c54 transparent transparent;
  transform: rotate(45deg);
}

.price__table-head--head-hit::after {
  position: absolute;
  content: "хит";
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  top: 11px;
  left: 6px;
  transform: rotate(-45deg);
}

.price__table-row {
  border-bottom: 3px solid #e5e5e5;
}

.price__table-head p,
.price__table-head--head-hit p {
  display: block;
  margin: 0;
  padding: 15px 0 0;
}

.price__table-row--span {
  display: block;
  margin: 0;
  padding: 3px 0 0;
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  line-height: 30px;
}

.price__table-row--yes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height: 30px;
  background-color: #ffffff;
  padding: 0 20px;
}


.price__table-row--no {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height: 30px;
  background-color: #ffffff;
  padding: 0 20px;
}

.icon-yes {
  width: 31px;
  height: 21px;
  fill: #3eb745;
}

.icon-no {
  width: 27px;
  height: 26px;
  fill: #cd0c54;
}

.price__toggles-list {
  margin: 0 auto;
  padding: 35px 0 50px;
  width: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price__toggles-item {
  flex-grow: 0;
  flex-shrink: 0;
  width: 2px;
  height: 2px;
  background: #bec2c7;
  border: 3px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.price__toggles-item--active {
  background: #f2f2f2;
  width: 7px;
  height: 7px;
  border: 3px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}
// для планшета для планшета для планшета для планшета для планшета
@media (min-width: $tablet-width) {
  .price {
    padding-top: 70px;
    padding-bottom: 70px;
    margin-bottom: 50px;
    margin-top: -28px;
  }

  .price-table-wrapper {
    overflow: visible;
  }

  .price__table-col {
    min-width: 155px;
    align-self: flex-start;
    border-right: 1px solid #e5e5e5;
  }

  .price__table-row {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    border-left: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    border-right: none;
    min-height: 45px;
  }

  .price__table-row--span {
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding-bottom: 10px;
  }

  .price__table-head--empty-head {
    display: block;
    border-left: none;
    background-color: #f2f2f2;
  }

  .price__table-col--empty {
    display: block;
  }

  .price__table-col--unlim {
    border-right: 1px solid #e5e5e5;
  }

  .price__table-description--tablet-desktop {
    text-transform: none;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    padding-left: 15px;
    padding-top: 13px;
  }

  .price__table-head {
    min-height: 81px;
  }

  .price__table-head--head-hit::before {
    position: absolute;
    content: "";
    top: -44px;
    left: -44px;
    width: 30px;
    height: 30px;
    border-style: solid;
    border-width: 27px;
    border-color: transparent #cd0c54 transparent transparent;
    transform: rotate(45deg);
  }

  .price__table-row--yes {
    justify-content: center;
    align-items: center;
  }

  .price__table-row--no {
    justify-content: center;
    align-items: center;
  }

  .price__table-row--no p {
    display: none;
  }

  .price__table-row--yes p {
    display: none;
  }

  .price__toggles-list {
    display: none;
  }
}
// для десктопа для десктопа для десктопа для десктопа для десктопа
@media (min-width: $desktop-width) {
  .price {
    padding-top: 70px;
    padding-bottom: 94px;
  }

  .price__table-col {
    min-width: 236px;
  }

  .price__table-head {
    min-height: 100px;
  }

  .price__table-row {
    min-height: 60px;
  }

  .price__table-row--span {
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 15px;
  }

  .price__table-row--head-hit::before {
    border-width: 50px;
  }

  .price__table-description--tablet-desktop {
    font-size: 18px;
    line-height: 18px;
    padding-left: 28px;
    padding-top: 18px;
  }
}
