.containter {
  margin: 0 auto;
  min-width: 320px;
  max-width: 940px;
}

.price {
  text-transform: uppercase;
}

.price__table {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #ffffff;
  margin: 40px 0;
}

.price__table-col {
  display: none;
}

.price__table-col--hit {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 320px;
  margin: 0 auto;
}

.price__table-row--head-hit {
  background-color: #17212b;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  line-height: 30px;
  text-align: center;
  padding: 0 20px;
}

.price__table-row--span {
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  line-height: 30px;
}

.price__table-row--yes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height: 30px;
  background-color: #ffffff;
  border-bottom: 3px solid #f2f2f2;
  padding: 0 20px;
}

.price__table-row--no {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height: 30px;
  background-color: #ffffff;
  border-bottom: 3px solid #f2f2f2;
  padding: 0 20px;
}

.icon-yes {
  width: 31px;
  height: 21px;
  fill: #3eb745;
}

.icon-no {
  width: 27px;
  height: 26px;
  fill: #cd0c54;
}

.price__toggles-list {
  margin: 0 auto;
  padding: 20px;
  width: 65px;
  height: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price__toggles-item {
  background: #bec2c7;
  border: 1px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  height: 14px;
}

.price__toggles-item--active {
  background: #f2f2f2;
  border: 4px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  height: 19px;
}

@media (min-width: $tablet-width) {
  .price__table {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #ffffff;
    margin: 20px 20px;
    min-height: 220px;
  }

  .price__table-col {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    width: auto;
  }

  .price__table-row--yes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    line-height: 30px;
    background-color: #ffffff;
    border-bottom: 3px solid #f2f2f2;
  }

  .price__table-row--no {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    line-height: 30px;
    background-color: #ffffff;
    border-bottom: 3px solid #f2f2f2;
  }

  .price__table-row {
    min-height: 45px;
    border-left: 3px solid #f2f2f2;
    border-bottom: 3px solid #f2f2f2;
  }

  .price__table-row--empty {
    min-width: 160px;
    min-height: 80px;
    border-bottom: 3px solid #f2f2f2;
    border-left: none;
  }

  .price__table-row--head {
    min-width: 160px;
    min-height: 80px;
    background-color: #17212b;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    line-height: 30px;
    text-align: center;
    padding: 0;
  }

  .price__table-row--span {
    font-size: 24px;
    font-weight: 300;
    color: #ffffff;
    line-height: 30px;
  }

  .price__table-col--hit {
    margin: 0;
  }

  .price__table-row--no p {
    display: none;
  }

  .price__table-row--yes p {
    display: none;
  }

  .price__toggles-list {
    display: none;
  }
}
