.promo-invitation {
  position: relative;
  font-size: 24px;
  font-weight: 300;
  background-color: #ffffff;
  color: #000000;
  line-height: 24px;
  text-align: center;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom;//добавить фигурное изображение нижнего треугольника
}

.promo-invitation__wrapper {
  position: relative;
  margin: 46px auto;
  padding: 0 20px;
}

.promo-invitation__proposal--first-line {
  display: block;
  margin: 0 0 38px;
  padding: 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 26px;
  text-align: center;
}

.promo-invitation__proposal--second-line {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}
// для планшета для планшета для планшета для планшета для планшета для планшета
@media (min-width: $tablet-width) {
  .promo-invitation__wrapper {
    position: relative;
    margin: 46px auto;
    padding: 0 20px;
  }

  .promo-invitation__proposal--first-line {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
  }

  .promo-invitation__proposal--second-line {
    display: block;
    margin: 0;
    padding: 0 130px;
    font-size: 40px;
    line-height: 50px;
  }
}
// для десктопа для десктопа для десктопа для десктопа
@media (min-width: $desktop-width) {
  .promo-invitation {
    margin-top: 35px;
    margin-bottom: 115px;
  }

  .promo-invitation__proposal--first-line {
    margin: 0 0 9px;
    padding: 0;
    font-size: 50px;
    line-height: 50px;
  }

  .promo-invitation__proposal--second-line {
    margin: 0;
    padding: 0 240px;
    font-size: 50px;
    line-height: 50px;
  }
}
