.reviews__wrapper {
  margin: 0 auto;
  padding: 0 20px;
}

.reviews__item {
  text-align: center;
  padding: 45px 0;
}

.reviews__user-info {
  display: none;
}

.reviews__toggles {
  text-align: center;
}

.tariffs {
  background-color: #f2f2f2;
}

.tariffs__toggles {
  text-align: center;
}

.tariffs__item {
  margin: 0;
  padding: 20px;
  text-align: left;
}
// для планшета
@media (min-width: $tablet-width) {
  .reviews__item {
    display: flex;
    flex-direction: column;
  }

  .reviews__user-name {
    order: 2;
  }

  .reviews__user-info {
    order: 3;
    display: block;
  }

  .reviews__user-comment {
    order: 1;
  }
}

@media (min-width: $desktop-width) {
  .reviews__item {
    //должно дополняться изображением цитаты
    padding: 0 188px;
  }
}
