.regular-footer__social-wrapper {
  min-height: 200px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

.regular-footer__logo--mobile-tablet {
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
  margin-bottom: 41px;
  margin-left: -2px;
  padding: 0;
}

.footer-pink-logo {
  width: 150px;
  height: 40px;
}

.blue-colored-logo {
  fill: #283645;
}

.pink-colored-logo {
  fill: #d22856;
}

.blue-colored-logo:hover {
  fill: #d22856;
}

.footer-pink-logo:active {
  fill-opacity: 0.3;
}

.regular-footer__logo--desktop {
  display: none;
}

.regular-footer__social-buttons {
  margin-bottom: 0;
}

.social-buttons__list {
  padding: 0;
  margin: 0;
  min-width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

.social-buttons__media {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #f2f2f2;
  border-radius: 50%;
  padding: 13px 13px;
}

.twitter-icon {
  width: 18px;
  height: 18px;
  fill: #cd0c54;
}

.fb-icon {
  width: 18px;
  height: 18px;
  fill: #cd0c54;
}

.youtube-icon {
  width: 18px;
  height: 18px;
  fill: #cd0c54;
}

.regular-footer__copyright {
  width: 150px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.regular-footer__copyright-text {
  padding-left: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height: 18px;
}

.regular-footer__copyright-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 35px;
  padding-left: 15px;
  padding-top: 10px;
}

.academy-icon {
  width: 40px;
  height: 39px;
  fill: #d22856;
}

@media (min-width: $tablet-width) {
  .regular-footer__social-wrapper {
    flex-direction: row;
    min-height: 100px;
    padding: 20px;
  }
}

@media (min-width: $desktop-width) {
  .regular-footer__social-wrapper {
    flex-direction: row;
    min-height: 220px;
    padding: 20px 10px;
  }
}
