.regular-footer__social-wrapper {
  height: 244px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

.regular-footer__logo {
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-pink-logo {
  width: 150px;
  height: 40px;
}

.blue-colored-logo {
  fill: #283645;
}

.pink-colored-logo {
  fill: #d22856;
}

.blue-colored-logo:hover {
  fill: #d22856;
}

.footer-pink-logo:active {
  fill-opacity: 0.3; // насколько корректно здесь использовать свойство fill-opacity?
}

.social-buttons__list {
  padding: 0;
  margin: 0;
  min-width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

.social-buttons__media {
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #f2f2f2;
  border-radius: 50%;
  padding: 13px 13px;
}

.twitter-icon {
  width: 18px;
  height: 18px;
  fill: #cd0c54;
}

.fb-icon {
  width: 18px;
  height: 18px;
  fill: #cd0c54;
}

.youtube-icon {
  width: 18px;
  height: 18px;
  fill: #cd0c54;
}

.regular-footer__copyright {
  width: 150px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.regular-footer__copyright-text {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  line-height: 24px;
}

.regular-footer__copyright-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 29px;
  height: 39px;
}

.academy-icon {
  width: 29px;
  height: 39px;
  padding-left: 10px;
  fill: #cd0c54;
}

@media (min-width: $tablet-width) {
  .regular-footer__social-wrapper {
    flex-direction: row;
    height: 197px;
  }
}
