.reviews {
  position: relative;
}

.reviews::after {
  content: "";
  position: absolute;
  top: 285px;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  z-index: 20;
}

.reviews__wrapper {
  position: relative;
  min-height: 300px;
  margin: 0 0 45px;
  padding: 0;
  z-index: 50;
}

.reviews__item {
  padding: 28px 0;
}

.reviews__user-name {
  display: block;
  margin: 15px 0 14px;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  line-height: 30px;
  font-style: normal;
  text-align: center;
}

.reviews__user-comment {
  display: block;
  min-height: 80px;
  margin: 0;
  padding: 0 22px;
  font-size: 14px;
  font-weight: 300;
  color: #000000;
  line-height: 30px;
  text-align: center;
}

.reviews__toggles-list {
  min-width: 60px;
  margin: 0 auto;
  padding-top: 2px;
  padding-left: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews__toggles-list input {
  display: none;
}

.toggle-label {
  width: 1px;
  height: 1px;
  background-color: #bec2c7;
  border: 3px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: #7e868f;
  }

  &:active {
    background-color: #f2f2f2;
  }
}

.toggle-label:not(:nth-child(3)) {
  margin-right: 14px;
}

.reviews__toggles-list input:checked + label {
  width: 7px;
  height: 7px;
  background-color: transparent;
  border: 3px solid #000000;
}

.reviews__arrows {
  display: none;
}
// для планшета  для планшета для планшета для планшета для планшета
@media (min-width: $tablet-width) {
  .reviews__wrapper {
    min-height: 200px;
  }

  .reviews::after {
    top: 237px;
  }

  .reviews__user-comment {
    display: block;
    margin: 0 0 40px 0;
    padding: 0;
    font-size: 18px;
    line-height: 30px;
  }

  .reviews__item {
    padding: 25px 19px 34px;
  }

  .reviews__user-name {
    display: block;
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .reviews__user-info {
    display: block;
    font-size: 14px;
  }
}
// для десктопа для десктопа для десктопа для десктопа для десктопа
@media (min-width: $desktop-width) {
  .reviews__wrapper {
    margin-bottom: 0;
    padding: 140px 40px 40px;
    background: url("../img/icon-quotes.svg") no-repeat;
    background-position: center top 75px;
  }

  .reviews::after {
    top: 407px;
  }

  .reviews__item {
    padding: 0 40px;
  }

  .reviews__user-comment {
    margin: 0 20px 29px 19px;
    padding: 0;
    font-size: 18px;
    line-height: 30px;
  }

  .reviews__user-name {
    margin: 12px 0;
    font-size: 24px;
  }

  .reviews__user-info {
    font-size: 18px;
    line-height: 18px;
  }

  .reviews__toggles-list {
    display: none;
  }

  .reviews__arrows {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
  }

  .arrow {
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 2px solid #bec2c7;
    transform: rotate(45deg);
    cursor: pointer;

    &:hover {
      border-color: #7e868f;
    }

    &:active {
      border-color: #f2f2f2;
    }
  }

  .arrow--left {
    top: 80px;
    left: -26px;
    border-top: none;
    border-right: none;
  }

  .arrow--right {
    left: 873px;
    top: -152px;
    border-bottom: none;
    border-left: none;
  }
}
