.reviews__user-name {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  line-height: 30px;
  font-style: normal;
  text-align: center;
}

.reviews__user-comment {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height: 30px;
  text-align: center;
}
