.reviews__user-name {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  line-height: 30px;
  font-style: normal;
  text-align: center;
}

.reviews__user-comment {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height: 30px;
  text-align: center;
}

.reviews__toggles-list {
  margin: 0 auto;
  padding: 20px;
  width: 65px;
  height: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews__toggles-item {
  background: #bec2c7;
  border: 1px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  height: 14px;
}

.reviews__toggles-item--active {
  background: #f2f2f2;
  border: 4px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  height: 19px;
}

@media (min-width: $desktop-width) {
  .reviews__toggles-list {
    display: none;
  }
}
