.special-promo {
  display: none;
}

@media (min-width: $tablet-width) {
  .special-promo {
    display: block;
    background-color: #ffffff;
  }

  .special-promo__wrapper {
    margin: 0 auto;
    padding: 40px;
    text-align: left;
    padding-left: 400px;
  }

  .special-promo__link {
    text-decoration: underline;
    color: #cd0c54;
  }

  .special-promo__link:hover {
    color: #000000;
    text-decoration: underline;
  }

  .special-promo__link:active {
    text-decoration: none;
    opacity: 0.3;
  }
}

@media (min-width: $desktop-width) {
  .special-promo {
    background-color: #f2f2f2;
  }
}
