.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.tariffs {
  background-color: #f2f2f2;
  text-transform: uppercase;
}

.tariffs__header {
  background-color: #17212b;
}

.tariffs__name {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  line-height: 30px;
}

.tariffs__price {
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  line-height: 30px;
  border-bottom: 3px solid #f2f2f2;
}

.tariffs__list {
  list-style: none;
  text-align: center;
}

.tariffs__item {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height: 30px;
  background-color: #ffffff;
  border-bottom: 3px solid #f2f2f2;
}
