.user-photo__panoramic-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.user-photo__panoramic-wrapper img {
  width: 100%;
  height: auto;
}

.user-photo__panoramic-wrapper::before {
  content: "Панорама дня";
  display: inline-block;
  position: absolute;
  right: 20px;
  width: 140px;
  min-height: 37px;
  background: #d22856;
  font-size: 13px;
  line-height: 35px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.user-photo__panoramic-picture {
  width: 100%;
  height: auto;
}

.user-photo__panoramic-picture img {
  display: block;
  width: 100%;
  height: auto;
}

.user-photo__photo-comments {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 280px;
  min-height: 123px;
  margin: 0 auto;
  padding: 18px 18px 0;
  background-color: #f2f2f2;
  text-align: left;
}

.user-photo__photo-comments--panoramic {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-width: 280px;
  min-height: 160px;
  margin: 0 auto;
  padding: 17px 11px 0 18px;
  background-color: #f2f2f2;
  text-align: left;
}

.user-photo {
  margin: 0 auto;
  padding: 0;
  padding-bottom: 18px;
  box-sizing: border-box;
}

.user-photo--panoramic {
  padding-bottom: 19px;
}

.user-photo img {
  display: block;
}

.user-photo__wrapper {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.user-photo__picture {
  width: 100%;
  height: auto;
}

.photo-comments__author-name {
  display: block;
  margin: 0;
  padding: 0;
  min-height: 24px;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  line-height: 24px;
}

.photo-comments__publishing-time {
  font-size: 12px;
  font-weight: 300;
  color: #17212b;
  line-height: 24px;
  text-transform: uppercase;
}

.photo-comments__published-text {
  display: block;
  margin: 0;
  padding-bottom: 8px;;
  min-height: 25px;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height: 24px;
}

.photo-comments__published-text--panoramic {
  min-height: 104px;
  padding-bottom: 0;
}

.photo-comments__text {
  display: block;
  min-height: 40px;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 14px;
  color: #cd0c54;
  text-transform: uppercase;
}

.photo-comments__like {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: baseline;
  min-height: 40px;
}

.like-button {
  width: 12px;
  height: 11px;
  margin-right: 19px;
  fill: #d22856;
}
// для планшета для планшета для планшета для планшета для планшета для планшета
@media (min-width: $tablet-width) {
  .user-photo__panoramic-wrapper img {
    height: 509px;
  }

  .user-photo__panoramic-wrapper::before {
    content: "Панорама дня";
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 57px;
    width: 140px;
    height: 35px;
  }

  .user-photo__photo-comments {
    min-width: 300px;
    min-height: 123px;
    padding: 22px 27px 0;
  }

  .user-photo__photo-comments--panoramic {
    min-width: 620px;
    min-height: 121px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 22px 26px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .photo-comments__author-name--panoramic {
    flex-basis: 50%;
    order: 1;
  }

  .photo-comments__published-text--panoramic {
    margin-top: -36px;
    min-height: 45px;
    order: 3;
  }

  .photo-comments__like {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    min-height: 30px;
    margin-top: 1px;
  }

  .photo-comments__like--panoramic {
    order: 2;
    flex-direction: row;
  }

  .like-button {
    margin-right: 0;
    margin-left: 21px;
  }

  .user-photo__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 20px;
  }

  .user-photo {
    margin: 0;
    padding-bottom: 19px;
  }

  .photo-comments__author-name {
    min-height: 24px;
  }

  .photo-comments__published-text {
    min-height: 55px;
  }

  .like-button {
    width: 14px;
    height: 14px;
    margin-right: 5px;
  }
}
// для десктопа для десктопа для десктопа для десктопа для десктопа
@media (min-width: $desktop-width) {
  .user-photo {
    margin: 0 auto;
    padding-bottom: 0;
    margin-bottom: 54px;
  }

  .user-photo.user-photo--panoramic {
    padding-bottom: 0;
    margin-bottom: 45px;
  }

  .user-photo__panoramic-wrapper img {
    height: 506px;
  }

  .user-photo__panoramic-wrapper::before {
    content: "Панорама дня";
    right: 10px;
    top: 54px;
  }

  .user-photo__wrapper {
    margin: 0;
  }

  .user-photo {
    padding-bottom: 0;
    margin: 0 auto 52px;
  }

  .user-photo__photo-comments {
    margin-bottom: 0;
    min-height: 150px;
    padding: 24px 27px 0;
  }

  .user-photo__photo-comments.user-photo__photo-comments--panoramic {
    box-sizing: border-box;
    min-width: 940px;
    min-height: 98px;
    margin-bottom: 10px;
    padding: 23px 27px 22px;
    align-items: flex-start;
  }

  .photo-comments__author-name--panoramic {
    flex-basis: 50%;
    order: 1;
  }

  .photo-comments__published-text {
    padding-bottom: 4px;
  }

  .photo-comments__published-text--panoramic {
    min-height: 25px;
    order: 3;
    margin-top: -20px;
  }

  .photo-comments__like {
    min-width: 260px;
    min-height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  .like-button {
    margin-right: 18px;
    fill: #d22856;
  }

  .photo-comments__like--panoramic {
    order: 2;
    flex-direction: row;
    justify-content: flex-end;
  }

  .photo-comments__like--panoramic .like-button {
    margin-right: 4px;
    margin-top: 1px;
    fill: #d22856;
  }
}
