.user-photo__panoramic-wrapper {
  margin: 0 auto;
  width: auto;
}

.user-photo__panoramic-wrapper picture::before {
  content: "Панорама дня";
  display: inline-block;
  position: absolute;
  right: 20px;
  width: 140px;
  height: 37px;
  background: #d22856;
  font-size: 13px;
  line-height: 35px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.user-photo__panoramic-picture { // нужно ли дополнительно прописывать в css?
  width: 100%;
  height: auto;
}

.user-photo__photo-comments {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 158px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  text-align: left;
}

.user-photo__photo-comments--panoramic {
  display: flex;
  flex-direction: column;
}

.user-photo {
  margin: 0 auto;
  padding: 0;
  padding-bottom: 20px;
}

.user-photo__wrapper {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

.user-photo__picture {
  width: 300px;
  height: 180px;
}

.photo-comments__author-name {
  display: block;
  margin: 0;
  padding: 0 0 5px 0;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  line-height: 24px;
}

.photo-comments__publishing-time {
  font-size: 14px;
  font-weight: 300;
  color: #17212b;
  line-height: 24px;
  text-transform: uppercase;
}

.photo-comments__published-text {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height: 24px;
}

.photo-comments__text {
  font-size: 12px;
  color: #cd0c54;
  text-transform: uppercase;
}

.photo-comments__like {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.like-button {
  margin-left: 10px;
  fill: #d22856;
}

@media (min-width: $tablet-width) {
  .user-photo__panoramic-wrapper picture::before {
    content: "Панорама дня";
    display: inline-block;
    position: absolute;
    right: 20px;
    bottom: -56px;
    width: 140px;
    height: 37px;
  }

  .user-photo__panoramic-picture {
    width: 100%;
    height: auto;
  }

  .user-photo__photo-comments--panoramic {
    min-width: 660px;
    margin: 0 auto;
  }

  .photo-comments__author-name--panoramic {
    order: 2;
  }

  .photo-comments__published-text--panoramic {
    order: 3;
  }

  .photo-comments__like--panoramic {
    order: 1;
    align-self: flex-end;
  }

  .user-photo__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
  }

  .user-photo {
    margin: 0 auto;
    padding-bottom: 20px;
  }

  .user-photo__picture {
    width: 300px;
    height: 300px;
  }
}

@media (min-width: $desktop-width) {
  .user-photo {
    margin: 0 auto;
    padding-bottom: 20px;
  }

  .user-photo__picture {
    width: 301px;
    height: 404px;
  }

  .user-photo__photo-comments--panoramic {
    box-sizing: border-box;
    min-width: 940px;
    margin-top: -10px;
  }

  .user-photo__photo-comments {
    margin-top: -10px;
  }
}
