// используется для index.html, photo.html, form.html
%btn {
  text-decoration: none;
  color: $pink;
  line-height: 18px;
  font-size: $bold-font-size;
  font-weight: $bold-font-weight;
  border: 3px solid $pink;
  border-radius: 30px 30px;
  height: 55px;
  width: 281px;
  padding: 18px 34px;
}
// используется для form.html
%pink-label {
  font-size: $regular-font-size;
  font-weight: $regular-font-weight;
  color: $pink;
  line-height: $big-line-height;
  text-transform: uppercase;
}
%regular-black-text {
  font-size: $bold-font-size;
  font-weight: $regular-font-weight;
  color: $black;
  line-height: $big-line-height;
}
